/* CUSTOM PROPERTIES */
:root {
    --playbar-height: 100px;
    --sidebar-width: 200px;
    /* COL ALTERNATIVA: --col-number : 6; */
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: unset;
    color: grey;
    border: unset;
}

h2 {
    color: white;
}

h4 {
    color: white;
}

span {
    color: grey;
    font-size: 0.8rem;
}

.category button:hover {
    color: white;
    border-bottom: 2px solid greenyellow;
}

.father-block {
    width: 100%;
    height: 100vh;
}

.top-container {
    height: calc(100% - var(--playbar-height));
    background-color: #141922;
    display: flex;
}

.playbar {
    height: var(--playbar-height);
    background-color: #282828;
}

/* SIDEBAR SECTION */
.sidebar {
    width: var(--sidebar-width);
    background-color: #000000;
}

.logo {
    padding: 15px;
    width: 90%;
}

.main-nav-list img {
    display: block;
    width: 20%;
    margin-right: 10px;
}

.main-nav-list {
    padding: 15px;
    color: grey;
}

.main-nav-list button:hover {
    color: white;
    border-left: 2px solid greenyellow;

}

.side-nav-btn {
    display: inline-block;
    text-align: center;
}

.playlist {
    display: flex;
    flex-direction: column;
}

/* RIGHT BLOCK SECTION */
.right-block {
    width: calc(100% - var(--sidebar-width));
}

.upgradebar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--sidebar-width));
    padding: 20px;
    background-color: #080B12;
    
}

.upgrade-btn {
    color: white;
    display: flex;
    font-size: 0.8rem;
    justify-content: flex-end;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
}

.upgrade-btn:hover {
    transform: scale(1.1);
}

.scroll-section {
    padding: 70px 20px 20px;
    height: 100%;
    overflow: auto;
}

.category {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.col {
    width: calc(100% / 6);
 /* OPPURE
    width: calc(100% - var(--col-number)); */

    margin-top: 10px;
    /* DEBUG */
    border: 1px dotted white;
    min-height: 200px;
}

.scroll {
    margin-top: 30px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .col {
       width: calc(100% / 4);
    }

    /* OPPURE ALTERNATIVA
    :root {
        --col-number: 4;
    } */
}

@media screen and (max-width: 768px) {
    .col {
        width: calc(100% / 2);
     }
     
         /* OPPURE ALTERNATIVA
    :root {
        --col-number: 2;
    } */
}

@media screen and (max-width: 425px) {
    :root {
        --sidebar-width: 80px;
    }
}